@page
@model ForgotPasswordModel

@using Microsoft.AspNetCore.Identity
@using ZENITH.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = " Quên mật khẩu";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="auth__content">
    <div class="auth__content-inner">
        <a asp-controller="Home" asp-action="Index" class="logo">
            <img src="~/image/icons/zenith-logo.png" style="width: 37px; height: 37px;" alt="Zenith" class="logo__img" />
            <h2 class="logo__title" style="color:#3643BA;">Zenith</h2>
        </a>
        <h1 class="auth__heading">Quên mật khẩu</h1>
        <p class="auth__desc">Nhập email để nhận liên kết đặt lại mật khẩu.</p>
        <div class="auth__message message message--success">We have e-mailed your password reset link!</div>
        <form method="post" class="form auth__form auth__form-forgot">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form__group">
                <div class="form__text-input">
                    <input asp-for="Input.Email" type="email" placeholder="Email" class="form__input" autofocus />
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form__group auth__btn-group">
                <button class="btn btn--primary auth__btn form__submit-btn" type="submit">Gửi liên kết đặt lại</button>
            </div>
        </form>

        <p class="auth__text">
            <a asp-page="./Login" class="auth__link auth__text-link">Quay lại Đăng nhập</a>
        </p>
    </div>
</div>