@page
@model LoginModel

@using Microsoft.AspNetCore.Identity
@using ZENITH.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "| Đăng Nhập - Chào Mừng Quay Lại!";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    var externalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
}
<!-- Auth content -->
<div class="auth__content">
    <div class="auth__content-inner">
        <a asp-controller="Home" class="logo">
            <img src="~/image/icons/zenith-logo.png" style="width: 37px; height: 37px;" alt="Zenith" class="logo__img" />
            <h2 class="logo__title" style="color:#3643BA;">Zenith</h2>
        </a>
        <h1 class="auth__heading">Chào Mừng Quay Lại!</h1>
        <p class="auth__desc">
            Chào mừng bạn quay lại đăng nhập. Là khách hàng quay lại, bạn có thể truy cập vào tất cả thông tin đã lưu trước đó.
        </p>
        <form id="account" method="post" class="form auth__form">
            <div class="form__group">
                <div class="form__text-input">
                    <input asp-for="Input.Email" class="form__input" autocomplete="username" aria-required="true" placeholder="Email" />
                    <img src="~/image/icons/message.svg" alt="" class="form__input-icon" />
                    <img src="~/image/icons/form-error.svg" alt="" class="form__input-icon-error" />
                </div>
                <p class="form__error">Email không đúng!</p>
            </div>
            <div class="form__group">
                <div class="form__text-input">
                    <input asp-for="Input.Password" class="form__input" autocomplete="current-password" aria-required="true" placeholder="Mật Khẩu" />
                    <img src="~/image/icons/lock.svg" alt="" class="form__input-icon" />
                    <img src="~/image/icons/form-error.svg" alt="" class="form__input-icon-error" />
                </div>
                <p class="form__error">Mật khẩu không đúng!</p>
            </div>
            <div class="form__group form__group--inline">
                <label class="form__checkbox" asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" type="checkbox" class="form__checkbox-input d-none" />
                    <span class="form__checkbox-label">Đặt làm mặc định</span>
                </label>
                @*Reset pass chưa làm*@
                @* <a href="./reset-password.html" class="auth__link form__pull-right">Quên mật khẩu?</a> *@
                <a href="#!" class="auth__link form__pull-right">Quên mật khẩu?</a>
            </div>
            <div class="form__group auth__btn-group">
                <button class="btn btn--primary auth__btn form__submit-btn" id="login-submit" type="submit">Đăng Nhập</button>
                <button class="btn btn--outline auth__btn btn--no-margin">
                    <img src="~image/icons/google.svg" alt="" class="btn__icon icon" />
                    Đăng nhập bằng Google
                </button>
            </div>

        </form>

        <p class="auth__text">
            Chưa có tài khoản?
            <a asp-page="Register" class="auth__link auth__text-link">Đăng Ký</a>
        </p>
    </div>
</div>
