.arrow-icon {
        width: 24px;
    height: 24px;
    -webkit-mask: url("~/image/auth/intro-arrow.svg") no-repeat center;
    mask: url("~/image/auth/intro-arrow.svg") no-repeat center;
    mask-size: contain;
    -webkit-mask-size: contain;
    background-color: #3643BA;
}
.sub-menu__column--equitment {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 14px 0;
}
.sub-menu--not-main {
    grid-template-columns: 1fr;
}