
@using Microsoft.AspNetCore.Identity
@using ZENITH.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject ZENITH.AppData.ApplicationDbContext DbContext
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ZENITH @ViewData["Title"]</title>
    <script type="importmap"></script>
   
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/carousel.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/overlay.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/slideshow.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/menu-advert.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/scrollbar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />

    <!-- Fonts & bundle ASP -->
    <link rel="stylesheet" href="~/fonts/stylesheet.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ZENITH.styles.css" asp-append-version="true" />
    <script src="~/js/site.js"
            asp-append-version="true"></script>
    <script>
        var isUserLoggedIn = @(SignInManager.IsSignedIn(User) ? "true" : "false");
    </script>
</head>
<body>
    <header class="site-header">
        <div class="container">
            <div class="top-bar">
                <!-- More -->
                <button class="top-bar__more d-none d-lg-block js-toggle" toggle-target="#navbar">
                    <img src="~/image/icons/more.svg" alt="" class="icon top-bar__more-icon" />
                </button>

                <!-- Logo -->
                <a asp-controller="Home" asp-action="index" class="logo top-bar__logo">
                    <img src="~/image/icons/zenith-logo.png" alt="zenith" class="logo__img top-bar__logo-img" style="width:37px;height:37px;" />
                    <h1 class="logo__title top-bar__logo-title" style="color:#3643BA;">Zenith</h1>
                </a>

                <!-- Navbar -->
                <nav id="navbar" class="navbar hide">
                    <button class="navbar__close-btn js-toggle" toggle-target="#navbar">
                        <img class="icon" src="~/image/icons/arrow-left.svg" alt="" />
                    </button>

                    <a href="./checkout.html" class="nav-btn d-none d-md-flex">
                        <img src="~/image/icons/buy.svg" alt="" class="nav-btn__icon icon" />
                        <span class="nav-btn__title">Cart</span>
                        <span class="nav-btn__qnt">3</span>
                    </a>

                    @{ var favCount = SignInManager.IsSignedIn(User) ? DbContext.Favorites.Count(f => f.UserId == UserManager.GetUserId(User)) : 0; }
                    <a asp-controller="Favorites" asp-action="Index" class="nav-btn d-none d-md-flex">
                        <img src="~/image/icons/heart.svg" alt="" class="nav-btn__icon icon" />
                        <span class="nav-btn__title">Favorite</span>
                        <span class="nav-btn__qnt">@favCount</span>
                    </a>

                    <ul class="navbar__list js-dropdown-list">
                        @await Component.InvokeAsync("Menu")
                    </ul>
                </nav>
                <div class="navbar__overlay js-toggle" toggle-target="#navbar"></div>
                <partial name="_LoginPartial" />
            </div>

        </div>

    </header>
    <!-- Site overlay for dim/blur background when submenu opens -->
    <div id="menu-overlay" class="menu-overlay" aria-hidden="true"></div>
    <main role="main" class="container home" 
        >
        @RenderBody()
    </main>

    <footer>
        <div class="container">
            <div class="footer__row">
                <!-- Footer column 1 -->
                <div class="footer__col">
                    <!-- Logo -->
                    <a href="./" class="logo footer__logo">
                        <img src="/image/icons/zenith-logo.png" alt="grocerymart" class="logo__img" style="width:37px; height: 37px;" />
                        <h1 class="logo__title" style="color:#3643BA; ">Zenith</h1>
                    </a>
                    <p class="footer__desc">
                        Zenith - thương hiệu đồ thể thao dành cho sinh viên Việt Nam. Với hơn 5.000 sản phẩm cho 60+ môn thể thao. Chất lượng vượt trội, giá cả phải chăng, nhiều ưu đãi lớn!
                    </p>

                    <p class="footer__help-text">Nhận tin tức và cập nhật về sản phẩm.</p>
                    <form action="" class="footer__form">
                        <input type="text" class="footer__input" placeholder="Địa Chỉ Email" />
                        <button class="btn btn--primary">GỬI</button>
                    </form>
                </div>

                <!-- Footer column 2 -->
                <div class="footer__col">
                    <h3 class="footer__heading">Shop</h3>
                    <ul class="footer__list">
                        <li>
                            <a href="#!" class="footer__link">All Departments</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Fashion Deals</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Electronics Discounts</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Home & Living Specials</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Beauty Bargains</a>
                        </li>
                    </ul>
                </div>

                <!-- Footer column 3 -->
                <div class="footer__col">
                    <h3 class="footer__heading">Support</h3>
                    <ul class="footer__list">
                        <li>
                            <a href="#!" class="footer__link">Store locator</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Order status</a>
                        </li>
                    </ul>
                </div>

                <!-- Footer column 4 -->
                <div class="footer__col">
                    <h3 class="footer__heading">Company</h3>
                    <ul class="footer__list">
                        <li>
                            <a href="#!" class="footer__link">Customer Service</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Terms of Use</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Privacy</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Careers</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">About</a>
                        </li>
                        <li>
                            <a href="#!" class="footer__link">Affiliates</a>
                        </li>
                    </ul>
                </div>

                <!-- Footer column 5 -->
                <div class="footer__col">
                    <h3 class="footer__heading">Contact</h3>
                    <ul class="footer__list">
                        <li>
                            <p class="footer__label">Email</p>
                            <a href="mailto:contact@grocerymart.com" class="footer__link">dangtuann.dev@gmail.com </a>
                        </li>
                        <li>
                            <p class="footer__label">Hotline</p>
                            <a href="tel:18008888" class="footer__link">0908779590</a>
                        </li>
                        <li>
                            <p class="footer__label">Address</p>
                            <p class="footer__text">
                                Đường Nguyễn Tri Phương, phường Biên Hòa, tỉnh Đồng Nai
                            </p>
                        </li>
                        <li>
                            <p class="footer__label">Hours</p>
                            <p class="footer__text">24/7</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__bottom">
                <p class="footer__copyright">© 2025 Zenith. All rights reserved.</p>

                <div class="footer__socials">
                    <a href="https://www.facebook.com/dangtuann.dev" class="footer__social-link footer__social-link--facebook">
                        <img src="~/image/icons/facebook.svg" alt="" target="_blank" class="footer__social-icon" />
                    </a>
                    <a href="#!" class="footer__social-link footer__social-link--youtube">
                        <img src="~/image/icons/youtube.svg" target="_blank"  alt="" class="footer__social-icon" />
                    </a>
                    <a href="#!" class="footer__social-link footer__social-link--tiktok">
                        <img src="~/image/icons/tiktok.svg" target="_blank"  alt="" class="footer__social-icon" />
                    </a>
                    <a href="https://github.com/dangtuann-dev" class="footer__social-link footer__social-link--github">
                        <img src="~/image/icons/github-mark.svg" target="_blank"  alt="" class="footer__social-icon" />
                    </a>
                    <a href="#!" class="footer__social-link footer__social-link--linkedin">
                        <img src="~/image/icons/linkedin.svg" target="_blank"  alt="" class="footer__social-icon" />
                    </a>
                </div>
            </div>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
