@model List<ZENITH.Models.Category>
@{
    ViewData["Title"] = "| Cửa Hàng Thể Thao Dành Cho Sinh Viên Việt Nam";
}
<!-- Slideshow -->
<div class="home__container">
    <div class="slideshow js-home-slideshow" aria-label="Trang trình chiếu">
        <div class="slideshow__inner">
            <div class="slideshow__item">
                <a href="#!" class="slideshow__link">
                    <img src="~/image/advert-action/home-slide-show-1.webp" alt="Slideshow 1" class="slideshow__img" /> 
                </a>
            </div>
            <div class="slideshow__item">
                <a href="#!" class="slideshow__link">
                    <img src="~/image/advert-action/home-slide-show-2.webp" alt="Slideshow 2" class="slideshow__img" />
                </a>
            </div>
            <div class="slideshow__item">
                <a href="#!" class="slideshow__link">
                    <img src="~/image/advert-action/home-slide-show-3.webp" alt="Slideshow 3" class="slideshow__img" />
                </a>
            </div>
            <div class="slideshow__item">
                <a href="#!" class="slideshow__link">
                    <img src="~/image/advert-action/home-slide-show-4.webp" alt="Slideshow 4" class="slideshow__img" />
                </a>
            </div>
        </div>

        <div class="slideshow__page" aria-live="polite">
            <div class="slideshow__dots js-slide-dots" role="radiogroup" aria-label="Chọn slide">
                <input type="radio" id="home-slide-dot-1" name="home-slideshow" class="slideshow__dot-input" checked />
                <label for="home-slide-dot-1" class="slideshow__dot is-active" data-index="0" aria-label="Ảnh 1"></label>

                <input type="radio" id="home-slide-dot-2" name="home-slideshow" class="slideshow__dot-input" />
                <label for="home-slide-dot-2" class="slideshow__dot" data-index="1" aria-label="Ảnh 2"></label>

                <input type="radio" id="home-slide-dot-3" name="home-slideshow" class="slideshow__dot-input" />
                <label for="home-slide-dot-3" class="slideshow__dot" data-index="2" aria-label="Ảnh 3"></label>

                <input type="radio" id="home-slide-dot-4" name="home-slideshow" class="slideshow__dot-input" />
                <label for="home-slide-dot-4" class="slideshow__dot" data-index="3" aria-label="Ảnh 4"></label>
            </div>
        </div>
    </div>
</div>
<!-- Categories -->

<section class="home__container home-categories__container">
    <div class="home__row">
        <h2 class="home__heading">Danh Mục Sản Phẩm</h2>
    </div>
    <div class="home__cate row row-cols-3 row-cols-md-1">
       <div class="category-list">
          @foreach (var category in Model)
            {
                <a href="#!">
                    <div class="category-item">
                        <div class="category-image">
                            <img src="@category.ImageUrl" asp-append-version="true" />
                        </div>
                        <div class="cate-item__info">
                            <p class="cate-item__desc clip-text">
                                @category.CategoryName
                            </p>
                        </div>
                    </div>
                </a>
            }
           
       </div>
    </div>
</section>